.searchIcon {
    font-size: 24px;
    color: #000;
    padding: 12px;
    border-radius: 10%;
    background-color: #5e7bc7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .bookmarkIcon {
    font-size: 24px;
    color: #000;
    padding: 12px;
    border-radius: 10%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }